.container{
    padding: 20px;
    max-width: 100%;
    margin: 0 10px;
    min-height: 1500px;
}

.heading{
    font-size: 30px;
    font-weight: 500;
    text-align: center;

}
.sidebar {
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  display: none;
}
.searchContainer{
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}
.search{
    width:100%;
    border: 1px solid #ccc;
    border-radius: 5px 0px 0px 5px;
    padding: 15px;
  }
  
  .searchBtn {
    background: #1C4A2A;
    color: white;
    width: 150px;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  .headerContainer {
    text-align: center;
    margin : 100px 0px;
  } 
  .doc_heading{
    font-weight: 500;
    font-size: 42px;
    color: #0E2515;
  }
  .doc_para{
    color: var(--text-muted);
  }
  .main {
    display: flex;
    flex-direction: row;
    justify-content:center ;
    gap:20px;
    width: 100%; 
  }
  .filter_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    font-size:14px;
    font-weight: 300;
  }

  .filter_card {
    background:#FBFBFB;
    padding: 25px;
    border-radius: 8px;
    margin-bottom: 15px;
    border: 1px solid #E0E8E0;
    font-size: small;
  }
  
  .filter_card h4 {
    margin-bottom: 10px;
  }
  .filter_card label {
    display: block;
    margin-bottom: 10px;
    font-size: small;
    font-weight: 600;
    cursor: pointer;
  }
  .radio_input, .checkbox_input{
    margin-right: 5px;
    accent-color: var(--primary-green);
    margin-top: 5px;
    vertical-align:bottom; 
  }
  
.reset_btn, .resetBtn{
  font-weight: 700;
  font-size: 18px;
  color:#1C4A2A;
  border: none;
  background-color: transparent;
}

.resetBtn{
  text-align: center;
  margin-top: 50px;
}

.card{
    text-decoration: none;
    display: block; 
    width: 30%;
    height: 350px;
    min-width: 200px;
}
.doctors {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  text-decoration: none;
  gap: 20px;
}
.doctors :last-child{
  justify-content: start;
}
.noDoctors {
  color: red;
  font-size: 16px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 15px; 
}

.pageBtn {
  background: none;
  border: none;
  color: #1C4A2A;
  font-size: 14px;
  cursor: pointer;
  font-weight: 500;
  padding: 5px 10px;
}

.pageNumber {
  background: white;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  border: none;
  color: #8C8C8C;
}

.pageNumber.active {
  background: white;  
  color: #1C4A2A; 
  border: 1px solid #1C4A2A; 
  font-weight: 500;
}

.span {
  font-size: 14px;
  color: #8C8C8C;
}
.bottomBar {
  position: fixed;
  bottom: 0;
  left: 0;
  background: #fff;
  width: 100%;
  /* padding: 10px; */
  display: flex;
  /* justify-content: space-around; */
  border-top: 1px solid #ccc;
}
.bottomBar button{
  flex: 1;
  padding: 10px;
  border-top: 1px solid #ccc;
  border-right: none;
}
.bottomSheet {
  position: fixed;
  bottom: 0;
  left: 0;
  background: #fff;
  width: 100%;
  padding: 20px;
  border-radius: 12px;
  z-index: 999;
  animation: slideUp 0.3s ease;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 998;
}
.sheetHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3px;
}
.sheetHeader button{
  border: none;
  background-color: transparent;
}
@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
@media (min-width: 1019){
  .main {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content:center ;
    gap:20px;
    width: 100%; 
  }
  .sidebar{
    display: flex;
    flex-direction: column;
  }
  .bottomBar, .resetBtn{
    display: none;
  }
}