.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 10px;
    margin-top: 0;
    margin-bottom: 0;
    gap: 5px;
  }

  .navbar_links{
    display: flex;
    flex-direction: column;
    gap: 38px;
    align-items:start;
  }

  .app_logo{
    padding: 8px;
    gap: 8px;
    display: flex;
    align-items: center;
  }
  
  .logo {
    color: var(--green-primary);
    font-family: var(--font-mont);
    font-weight: 500;
    font-size: 23px;
    color: #1C4A2A;
  }
  
  .navLinks {
    list-style: none;
    display: flex;
    gap: 40px;
  }
  
  .navLinks li a {
    text-decoration: none;
    color: var(--muted-text);
    font-weight: 500;
    font-size: 18px;
  }

  .navLinks li a:active{
    color: var(--green-primary);

  }
  
  .authButtons {
    display: flex;
    gap: 16px;
    /* flex-direction: column; */
  }
  
  .login, .register {
    padding: 12px 32px;
    border: 1px solid var(--border-card);
    cursor: pointer;
    font-weight: 500;
    border-radius: 8px;
    font-size: 16px;
  }
  
  .login {
    background-color: white;
    color: #064e3b;

  }
  
  .register {
    background-color: #064e3b;
    color: white;
  }

  /* large desktop */
  @media (min-width: 1019){
    .navbar {
      padding: 36px 60px;
    }
    .navbar_links{
      flex-direction: row;
      align-items:center;
      
    }
    .navLinks {
      list-style: none;
      display: flex;
      gap: 40px;
    }
    .logo {
      font-size: 28px;
    }
    .authButtons {
      flex-direction: row;
    }
  }
  /* mobiles */
  @media (max-width: 435){
    .authButtons {
      flex-direction: column;
    }
  }
  /* ipads */
  @media (max-width: 711){
    .navLinks {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }