.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px;
  margin: 0 20px;
  gap: 20px;
}
.nav_menu{
  margin-top: 5px;
  display: flex;
  /* justify-content: space-between; */
}
.navbar_links{
  flex: 1;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items:center;
}
.app_logo{
  padding: 8px;
  gap: 8px;
  display: flex;
  align-items: center;
}
.logo {
  color: var(--green-primary);
  font-family: var(--font-mont);
  font-weight: 500;
  font-size: 23px;
  color: #1C4A2A;
}
.navLinks {
  display: none;
}
.authButtons {
  display: none;
  
}
.down {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 100%;
  margin-top: 0.75rem; 
  width: 100%;
  padding: 1.25rem; 
  border-radius: 0.5rem; 
  background-color: white;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--muted-text);
  gap: 0.5rem;
  justify-content: flex-end;
  align-items: flex-end;
}
.menu{
  display: flex;
  position: relative;
}
.down_link {
  text-decoration: none;
  width: 100%;
  text-align: right;
  font-size: 0.875rem;
  color: #374151;
  font-weight: 500; 
  transition: color 0.2s ease-in-out;
}

.down_link:hover {
  color: #6b7280; 
}


@media (min-width: 1019){
  .navbar {
      padding: 26px 60px;
      margin: 0;
    }
    .navbar_links{
      flex-direction: row;
      align-items:center;
      justify-content: start;
    }
    .navLinks {
      list-style: none;
      display: flex;
      gap: 40px;
    }
    .navLinks li a {
      text-decoration: none;
      color: var(--muted-text);
      font-weight: 500;
      font-size: 18px;
    }
    .navLinks .active {
      color: var(--green-primary);
    }
    .logo {
      font-size: 28px;
    }
    .authButtons {
      display: flex;
      flex-direction: row;
      gap: 16px;
    }
    .login, .register {
      padding: 12px 32px;
      border: 1px solid var(--border-card);
      cursor: pointer;
      font-weight: 500;
      border-radius: 8px;
      font-size: 16px;
    }
    
    .login {
      background-color: white;
      color: #064e3b;
  
    }
    
    .register {
      background-color: #064e3b;
      color: white;
    }
    .nav_menu{
      display: none;
    }
}