.container{
    background-color: var(--green-primary);
    min-height: calc(100vh - 108px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container p{
    color: white;
    font-weight: bold;
    font-size: larger;
}

@media (max-width: 1019px) {
    .container{
        min-height: calc(100vh - 68px);
    }
}